/* CSS 3 du site*/

/*Appel de la Police*/
@font-face {
    font-family: 'Raleway';
    src: url("content/fonts/Raleway/Raleway-VariableFont_wght.ttf");
    src: url("content/fonts/Raleway/static/Raleway-Regular.ttf") format('truetype');
}
/* application font Raleway au site, sinon Arial, helvetica ou sans-serif*/
body{font-family: 'Raleway', Arial, Helvetica, sans-serif;}

/* enlever les bullet points des li*/
ul {list-style-type: none;}

/* marge de page*/
#div_body {width: auto; margin: auto; padding: 20px;}


/*mise en page menu top droite*/
.header_nav{display: flex; width: 100%; justify-content: space-between; align-items: center;  }
.logo_site {display: inline-block;}

#menu {display: inline-block; padding: 30px;}
#lien {font-weight: bold; color: black;}
#lien_gras {font-weight: bolder; color: blue;}


