/* CSS 3 du site*/

/*Appel de la Police*/
@font-face {
    font-family: 'Raleway';
    src: url("content/fonts/Raleway/Raleway-VariableFont_wght.ttf");
    src: url("content/fonts/Raleway/static/Raleway-Regular.ttf") format('truetype');
}
/* application font Raleway au site, sinon Arial, helvetica ou sans-serif*/
body{font-family: 'Raleway', Arial, Helvetica, sans-serif;}

/* enlever les bullet points des li*/
ul {list-style-type: none;}

/* marge de page*/
#div_body {width: auto; margin: auto; padding-left: 20px; padding-right: 20px;}


/*mise en page menu top droite*/
header{position:sticky; top: 30px; left: 30px;}/*mise en page du header*/
#header_menu{display: flex; width: 100%; justify-content: space-between; align-items: center; height: 60px;}/*mise en page du header*/
.logo_site {display: inline-block;}/*logo*/

.menu {display: inline-block; padding: 30px; margin-left: auto;}/*mise en forme menu header*/
.lien {color: black; text-decoration: none;}/*mise en forme menu header*/
.lien:hover{color: rgba(0, 89, 255, 0.938); border-top: solid rgba(0, 89, 255, 0.938); padding-top: 47px;}/*trait au dessus menu au survol*/
.lien_gras {font-weight:bold; color: blue; text-decoration: none;}/*mise en forme s'inscrire*/
.lien_gras:hover{font-size: 120%;} /*faire grossir s'inscrire*/

/*mise en page du contenu*/

/*titres et paragraphes*/
h1{font-size: 1.2em; font-weight: bold;}
h2{font-size: 1.2em; font-weight: bold;}
p{font-size: 0.8em; color: rgba(48, 47, 47, 0.932)}

/* les icones*/


/*partie recherche*/
.recherche{/*definit le main container flex-flow column wrap pour retour à la ligne*/
    display: flex; 
    flex-flow: column wrap; 
    margin-top:1em;
}

.searchengine{/*rend la partie searchengine inflex et bords arrondis*/
    display: flex;
    margin-top:1em;
    height: 35px;
}
.map{/*mise en forme de l'icone map a gauche de recherche*/
    display: inline-flex; 
    font-size: 0.9em; 
    padding: 15px; 
    align-items: center; 
    background-color: rgba(211, 211, 211, 0.849); 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

#site-search{ /*mise en forme de la zone de recheche*/
    display: inline-flex; 
    padding: 0.7em; 
    height: 35px; 
    border-top: solid 1px rgba(211, 211, 211, 0.849); 
    border-bottom: solid 1px rgba(211, 211, 211, 0.849); 
    border-left: transparent; 
    border-right: transparent;
}

input::placeholder{ /*placeholder de la zone de recherche en noir et gras*/
    color: black; 
    border: transparent; 
    font-weight: bold;
}

#search{/*mis en forme du bouton recherche*/
    background-color: rgb(0, 89, 255); 
    color: white; 
    border: transparent; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.7em; height: 35px;
}

#search:hover{/*hover en bleu foncé pour faire joli quand on passe sur le bouton search :) */
    background-color: blue;
}

/*presentation partie filtres*/

.filtres{/*definition de .filtres en tant que container flex*/
    display: flex;
    margin-top: 2em;
    align-items: center;
}
.iconefiltre1{/*display inline pour applpiquer le flex a l'item du conteneur*/
    /*uniquement pour isoler le mot filtres qui n'est pas présenté comme les boutons filtres*/
    display: inline-flex; 
    font-weight: bold; 
    margin-right: 1em;
}
.boutons-filtre{/*pour la margin sinon les boutons ne prennent pas la forme désirée*/
    display: inline-flex; 
    margin-right: 2em;
}
.icones-filtre{/*mise en forme des icones de la zone filtre*/
    display: inline-flex; 
    background-color: rgba(185, 210, 255, 0.719); 
    border-radius: 50%; /*border radius 50% pour entourer l'icone*/
    padding:1em; /*padding 1em pour espacer l'icone des bords*/
    color: rgb(0, 89, 255);
    font-size: 0.8em;/*font size des icones pour réduire leur taille*/
}
.liens-filtre{/*mise en forme des liens clicables de la zone filtres*/
    display:inline-flex; 
    text-decoration: none; /*pour enlever le soulignement du href*/
    color:black; 
    font-weight: bold; 
    border-top: solid 1px rgba(211, 211, 211, 0.849); 
    border-bottom: solid 1px rgba(211, 211, 211, 0.849); 
    border-right:solid 1px rgba(211, 211, 211, 0.849); 
    border-top-right-radius: 1.4em; /*pour le rond droit de la zone de clic*/
    border-bottom-right-radius: 1.4em;/*pour le rond droit de la zone de clic*/
    padding-right: 1em; /*pour le coté rond des icones padding-top-right et bottom*/ 
    padding-top:0.5em; /*pour le coté rond des icones padding-top-right et bottom*/ 
    padding-bottom:0.5em; /*pour le coté rond des icones padding-top-right et bottom*/
    padding-left: 2em; /*pour espacer icone entouré du texte bouton*/
    margin-left: -1.1em;/*pour rapporcher icone entouré au texte du bouton*/
}

/*presentation ligne i*/

.lignei{
    display:flex; 
    margin-top: 1em; 
    margin-bottom: 2em; 
    align-items: center;/*align-items pour centrer le .logoi qui est dans le container*/
}
.logoi{
    display: inline-flex; 
    font-size: 0.2em; 
    color: blue; 
    border-radius: 50%; 
    border: 1px solid grey; 
    padding-top:0.5em; /*padding-top-bottom-right et left pour entourer en rond le i sinon ça fait oval*/
    padding-bottom: 0.5em; /*padding-top-bottom-right et left pour entourer en rond le i sinon ça fait oval*/
    padding-right: 1em; /*padding-top-bottom-right et left pour entourer en rond le i sinon ça fait oval*/
    padding-left:1em; /*padding-top-bottom-right et left pour entourer en rond le i sinon ça fait oval*/
    margin-right: 3em; /*margin right pour espacer le i du texte*/
}

/*partie hébergements et Les plus pop*/
article{}
aside{}

figure{}
figcaption{}
p{}

/*partie activités*/
section{}
figure{}
figcaption{}

/*footer*/
nav{}








